* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* nav related style */
nav {
    width: 1920px;
    height: 850px;
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
}

.header-title {
    margin-left: 240px;
    margin-top: 197px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.header-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.header-description {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 240px;
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary {
    margin-left: 240px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin-bottom: 147px;
}

.header-img {
    margin-top: 50px;
    margin-right: 240px;
    width: 635px;
    height: 800px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

/* featured related styles */
.featured-container {
    width: 1920px;
    height: 960px;
}

.feature {
    margin: 128px 663px 48px 663px;
    text-align: center;
}

.feature-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.description {
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-picture {
    width: 1920px;
    height: 600px;
    background-color: white;
    display: flex;

}

.flower-box1 {
    margin-left: 240px;
    margin-right: 24px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-box2 {
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.flower-box3 {
    margin-left: 24px;
    margin-right: 240px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.tulip-flower {
    padding: 110px 78px 0px 76px;
    width: 310px;
    height: 428px;
}

.mixed-flower {
    padding: 117px 47px 51px 47px;
    width: 370px;
    height: 370px;
}

.yellow-tulip {
    padding: 67px 75px 0px 75px;
    width: 314px;
    height: 471px;
}

.flower-tree {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 32px;
    justify-content: space-around;
}

/* deal section related styles */

.offer-container {
    width: 1920px;
    height: 620px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.offer-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}

.text-highlight {
    color: #E55473;
}

.offer-details {
    display: flex;
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
}

.sign-up-button {
    padding: 20px 43px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 0px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 162px;
}

.offer-img {
    width: 318px;
    height: 420px;
    margin: 100px;
    margin-right: 429px;
    margin-bottom: 100px;
}
/* florist choice related styles */

.florist-choice{
    display: flex;
    justify-content: space-around;
    height: 620px;
    width: 1920px;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}
.choice-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.choice-quota{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
}
.florist-img{
    height: 420px;
    background: rgba(71, 125, 17, 0.15);
}
/* social site section related styles */
.social-site-container {
    width: 1920px;
    height: 260px;
    align-self: center;
    text-align: center;
}

.insta {
    width: 180px;
    height: 48px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 128px 870px 24px 870px;
}

.message {
    display: flex;
    width: 594px;
    height: 60px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0px 663px 30px 663px;
}

.flowers-container {
    display: flex;
    width: 1920px;
    height: 396px;
    justify-content: center;
    background: #FFF;
    gap: 24px;
}

.image {
    width: 342px;
    height: 396px;
}

/* subscribe container related styles */

.welcome-message {
    width: 1440px;
    height: 400px;
    background-image: url('../flower-asset/Rectangle.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 200px 240px 0px 240px;
}

.title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
}

.coupon {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.input {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.email {
    border: 0px;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    padding: 20px 43px;
}
/* footer container related style */
.footer-container {
    width: 1920px;
    height: 449px;
    background: #111010;
    background-size: cover;
}

.footer-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 128px 0 0 0;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
    margin-bottom: 48px;

}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}